.container {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	min-height: 100%;
}

.header {
	position: sticky;
	top: 0;
	width: 100%;
	z-index: 10;
}

.main {
	position: relative;
	display: flex;
	flex-grow: 1;
	justify-content: center;
}

.footer {
	bottom:0;
	width: 100%;
}

.fixedFooter {
	position: fixed;
}

.mainContent {
	width: 1200px;
}

.loading:after {
	position: absolute;
	z-index: 100;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	content: '';
	cursor: progress;
	animation: loading alternate 2s infinite;
	background-color: var(--color-black);
}

@media (max-width: 1023px) {
	.mainContent {
		padding-bottom: var(--gap-5xl);
	}
}

@keyframes loading {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0.2;
	}
}