.container {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	max-width: 1920px;
	min-height: 100%;
}

.header {
	position: sticky;
	top: 0;
	width: 100%;
}

.main {
	flex-grow: 1;
	display: flex;
	justify-content: center;
}

.footer {
	bottom:0;
	width: 100%;
}
