.container {
	position: relative;

	display: block;
	width: 100%;
	height: 100%;
	padding: var(--gap-m) var(--gap-xl);
	background-color: var(--bg-color);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	text-shadow: -1px 0 var(--bg-color), 0 1px var(--bg-color), 1px 0 var(--bg-color), 0 -1px var(--bg-color);
	--bg-color: var(--color-white);
}

.container:hover:after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	content: '';
	background-color: rgba(0, 0, 0, .2);
}

.left {
	background-image: url("../../assets/images/Frame_46.jpeg");

	--bg-color: #e7eae9;
}

.right {
	background-image: url("../../assets/images/Frame_45.jpeg");

	--bg-color: #f6f6f6;
}

@media (max-width: 1023px) {
	.container {
		background-position: 0 25%;
	}
}
