.container {
	padding: var(--gap-s) var(--gap-xl);
	position: sticky;
	top: 0;
}

.logo {
	color: var(--color-red-brand);
}

@media (max-width: 960px) {
	.container {
		padding: var(--gap-xs) var(--gap-l);
	}

	.menuTitle {
		display: none;
	}
}
