.container {
	padding-left: var(--gap-l);
	padding-bottom: var(--gap-m);
	color: var(--color-black-30-flat);
	background-color: transparent;
}

@media (max-width: 1023px) {
	.container {
		padding-left: 0;
		text-align: center;
	}
}
