@import '@alfalab/core-components/vars/index.css';

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
#root {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  font-family: var(--font-family-system);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
